// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #1B82C3;
$black: #000022;

//gradient
$normal-gradient: linear-gradient(rgba(189, 231, 251, 1) 0%, rgba(248, 253, 254, 1) 100%);
$reverse-gradient: linear-gradient(rgba(248, 253, 254, 1) 0%, rgba(189, 231, 251, 1) 100%);

